<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elk.GHComponents.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Elk.GHComponents.Properties.Settings>
            <setting name="tabName" serializeAs="String">
                <value>Extra</value>
            </setting>
            <setting name="panelName" serializeAs="String">
                <value>Elk2</value>
            </setting>
        </Elk.GHComponents.Properties.Settings>
    </userSettings>
</configuration>